<!doctype html>
<html lang="en">
  <head>
    <title>Auto-Grader</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.7/dist/tailwind.min.css"
      rel="stylesheet"
    />
  </head>
  <body class="bg-gray-100">
    <div class="min-h-screen flex items-center justify-center">
      <form
        class="bg-white p-6 rounded-lg shadow-md max-w-md"
        enctype="multipart/form-data"
        action="/auto-grader/upload"
        method="post"
      >
        <label class="block mb-4">
          <span class="text-gray-700">Choose a file to upload</span>
          <input
            id="document"
            name="document"
            type="file"
            class="mt-1 py-2 px-3 block w-full border rounded-lg shadow-sm focus:ring focus:ring-opacity-50 focus:ring-blue-400"
          />
        </label>
        <button
          type="submit"
          class="bg-blue-500 hover:bg-blue-600 text-white font-semibold py-2 px-4 rounded-lg"
        >
          Upload
        </button>
      </form>
    </div>
  </body>
</html>
